<%- include('./includes/head.ejs') %> 
  <body>
    <!-- <nav class="navbar navbar-light bg-primary">
      <a class="navbar-brand text-white" href="/">
        <img src="/logo/Shrinkify.png" width="30" height="30" class="d-inline-block align-top" alt="">
        Shrinkify
      </a>
    </nav> -->
    <ul class="py-2   nav bg-primary justify-content-center">
      <li class="nav-item">
        <a class="display-6 lead text-white nav-link active" href="/">Shrinkify</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="#">Link</a>
      </li>
    </ul>
    <div class="container">
        <div class="container align-items-center  px-0 py-0">
          <form action="/" method="POST" class="row g-3 my-4">
              <div class="col-auto">
                <label for="fullUrl" id="fullUrl" class="visually-hidden">Url</label>
              </div>
              <div class="col-8 justify-content-center">
                <input type="url" name="fullUrl" class="col form-control" id="fullUrl" placeholder="Url">
              </div>
              <div class="col-auto">
                <button type="submit" class="btn btn-primary mb-3">Shrinkify</button>
              </div>
            </form>
        </div>

    <div class="container">
        <table class="table table-striped table-responsive">
          <thead>
            <tr>
              <th>Full URL</th>
              <th>Short URL</th>
              <th>Clicks</th>
            </tr>
          </thead>
          <tbody>

            <% shrinks.forEach(shrink => { %> 
            <tr>
              <td>
                <a href="<%= shrink.fullUrl %> "
                  target="_blank"
                  ><%= shrink.fullUrl %> </a
                >
              </td>
              <td><a href="<%= shrink.shortUrl %> "><%= shrink.shortUrl %> </a></td>
              <td><%= shrink.clicks %> </td>
            </tr>
              <% }) %> 
          </tbody>
        </table>
    </div>
    </div>
  </body>
</html>
