<%- include('./includes/head.ejs') %>
</head>
  <body>
    <%- include('./includes/navbar.ejs') %> 
    <div class="container">
        <div class="container align-items-center  px-0 py-0">
          <form action="/" method="POST" class="row g-3 my-4">
              <div class="col-auto">
                <label for="fullUrl" id="fullUrl" class="visually-hidden">Url</label>
              </div>
              <div class="col-8 justify-content-center">
                <input type="url" name="fullUrl" class="col form-control" id="fullUrl" placeholder="Url">
              </div>
              <div class="col-auto">
                <button type="submit" class="btn btn-primary mb-3">Shrinkify</button>
              </div>
            </form>
        </div>

            <% shrinks.forEach(shrink => { %> 
            <div class="card border-success mb-3" style="max-width: 70rem;">
              <div class="card-header  border-success">Full Url: <a href="<%= shrink.fullUrl %> "
                target="_blank"
                ><%= shrink.fullUrl %> </a
              ></div>
              <div class="card-body bg-light text-success">
                Short Url: 
                <a href="<%= shrink.shortUrl %> "
                  target="_blank"
                  ><%= shrink.shortUrl %> </a
                >
              </div>
              <div class="card-footer bg-transparent border-success">Clicks: <%= shrink.clicks %></div>
            </div>
              <% }) %> 
        </table>
    
    </div>
  </body>
</html>
